@plugin "@tailwindcss/typography";

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  background: #000;
}

:root {
  --table-border: #9c9c9c90;
}

@theme inline {
  --color-table-border: var(--table-border);
}

@theme {
  --color-main-light: color-mix(in srgb, var(--main) 30%, white);
}
